/* use accordion for the picture data form */
ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  --background: var(--ion-color-secondary);
  --color: #0f0
}

#piccanvas {
  display: block;
  position: relative; // so contained canvas can be abs positioned

  height: 50%; // will set by media query and drives everything
  // outline: 5px dotted cyan;
}

.pdform {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  height: 50%;
}

@media (orientation: landscape) {
  .piccanvas {
      /* make this inline-block so we can set width, height but
    still other elements (the form) on the same line, for
    horizontal mode */
     display: inline-block;
     width: 50%;
     height: 100%;
     // border: solid 3px red;
   }
  .pdform {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

}
