<div class="ion-content">
  <!-- the primary picture -->

  <div class="piccanvas" id="piccanvas" #piccanvas>

    <img [src]="extern_img_src"
    (resized)="onResize($event)"
    (domChange)="onDomChange($event)">

<!-- (domChange)="onDomChange($event)" -->
    <!-- <TwicImg id="thePhoto"
      (resized)="onResize($event)"
      [src]="picdoc?.img_basename"
      transition="fade+zoom"
      ratio="none"
      mode="contain">
    </TwicImg> -->

    <!-- canvas for overlay markup -->
    <canvas id=canvas_1 #mycanvas_1 class="mycanvas" style="z-index: 1"></canvas>
    <canvas id=canvas_2 #mycanvas_2 class="mycanvas" style="z-index: 2"></canvas>
    <canvas id=canvas_3 #mycanvas_3 class="mycanvas" style="z-index: 3"></canvas>
    <canvas id=canvas_4 #mycanvas_4 class="mycanvas" style="z-index: 4"></canvas>
    <canvas id=canvas_5 #mycanvas_5 class="mycanvas" style="z-index: 5"></canvas>
    <canvas id=canvas_6 #mycanvas_6 class="mycanvas" style="z-index: 6"></canvas>
    <canvas id=canvas_7 #mycanvas_7 class="mycanvas" style="z-index: 7"></canvas>
    <canvas id=canvas_8 #mycanvas_8 class="mycanvas" style="z-index: 8"></canvas>

  </div>

  <div class="pdform"><p>placeholder</p></div>
</div>
